<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<!--Appenders use to configure where to see the logs-->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %level %logger::%M::%L %msg %n"></PatternLayout>
		</Console>
		<File name="Filelogger" fileName="logs/automation.log" append="false">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %level %logger::%M::%L %msg %n"></PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="Filelogger"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>